<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <h1>@Title</h1>
  </a>
</nav>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }
}
